.range-input {
    display:flex;
    align-items:center;
}
.range-input input {
    -webkit-appearance:none;
    width:85%;
    height:4px;
    background:#4471ef;
    border:none;
    outline:none;
}
.range-input input::-webkit-slider-thumb {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    background:#eee;
    border:2px solid #4471ef;
    border-radius:50%;
}
.range-input input::-webkit-slider-thumb:hover {
    background:#4471ef;
}
.range-input .value {
    color:#4471ef;
    text-align:center;
    font-weight:600;
    line-height:40px;
    height:40px;
    overflow:hidden;
    margin-left:10px;
}
.range-input .value div {
    transition:all 300ms ease-in-out;
}